.foot{
    display: flex;
    justify-content: space-evenly;
   
    color: white;
    padding-top: 2rem;
    padding-bottom: 7rem;
}

.foot li{
    padding-top:5px ;
    padding-bottom: 4px;
    list-style: none;
}

.foot h4{
    font-weight: 700;
}
