.image img{
    height: 80vh;
    padding-top: 20px;
    padding-left: 5rem;
    
    border-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 7%;
}
img{
    width: 95%;
    
    
}
.hero{
    background-color: rgb(1, 1, 41);
}

.boxs{ 
position: absolute;
top: 110px;
left: 13%;
}

.boxs button{
    margin-left: 20px;
    padding: 8px;
    color: aliceblue;
    background-color: transparent;
    border: none;
}
.boxs button:hover{
    background-color: grey;
}

.write{
    position:absolute;
    top: 510px;
    left: 13%;
    color: white;
    font-weight: 600;
}
.panel button{
    position: absolute;
    top: 530px;
    right: 15%;
    padding: 6px;
    /* background-color:transparent  rgba(255, 255, 255, 0.9); */
    background-color: transparent;
    
    color: whitesmoke;
    font-weight: 100;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

