.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(175, 158, 158, 0.962);
    padding: 5px;
    background-color: rgb(1, 1, 41);
    padding-top: 20px;
    padding-bottom: 0;
}

.logo img{
    height: 50px;
    width: 70px;
    margin-left: 10px;
}

.wallet{
    display: flex;
    padding:10px;
    /* border: 2px solid red; */
    border-radius: 30px;
    background-color: rgb(120, 120, 120);
}
.wallet button{
    background-color: rgb(120, 120, 120);
    border: none;
}

.search input{
    width: 30rem;
    margin-top: 2px;
    padding: 10px;
    border: none;
}
.search {
    position: relative;
}

.search input[type="search"] {
    padding-left: 30px; /* Adjust the padding as needed */
    border-radius: 20px;
}

.search .fa-magnifying-glass {
    position: absolute;
    left: 9px; /* Adjust the icon's position as needed */
    top: 50%;
    transform: translateY(-50%);
}
.cart i{
    color:aliceblue;
    margin: 12px;
    font-size: 1.6rem;
}
.wallet i{
    color: whitesmoke;
    padding-right: 5px;
    padding:6px;
}

.user {
    border-radius: 50%;
    border: 2px solid rgb(245, 241, 241); 
    margin-left: 5px;
}

.wallet button{
    color: white;
}