.panel2{
    display: flex;
    justify-content: space-around;
    gap: 35%;
    padding-top: 4rem;
}

.text{
    color: aliceblue;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    font-size: 1rem;
}

.button button{
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(157, 157, 157);
    border-radius: 15px;
    font-weight: 600;
    
}


